<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main-menu"></ion-back-button>
        </ion-buttons>
        <ion-title>MISS Data Collection</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid no-padding class="submitted-grid">
        <ion-row class="header">
            <ion-col size="4">
                <ion-item>
                    <ion-label>Created</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>
                    <ion-label>Staff name</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2">
                <ion-item>
                    <ion-label>Bus</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2">
                <ion-item>
                    <ion-label>Postcode</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let customer of customers;">
            <ion-col size="4">
                <ion-item>
                    <ion-label>{{ customer.created }}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>
                    <ion-label>{{ customer.staffMemberName }}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2">
                <ion-item>
                    <ion-label>{{ customer.busName }}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2">
                <ion-item>
                    <ion-label>{{ customer.serviceLocationPostCode }}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
            
        <ion-row *ngIf="!customers.length">
            <ion-col size="12">
                <ion-item>
                    <ion-label>No Records Found!</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

<!-- 
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Created</th>
                            <th>Staff member name</th>
                            <th>Bus name</th>
                            <th>Postcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers;">
                            <td>{{ customer.created }}</td>
                            <td>{{ customer.staffMemberName }}</td>
                            <td>{{ customer.busName }}</td>
                            <td>{{ customer.serviceLocationPostCode }}</td>
                        </tr>
                        <tr *ngIf="!customers.length">
                            <td colspan="6">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 -->

       

</ion-content>
