<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" routerLink="/main-menu"></ion-icon>
        <ion-title>MISS Data Collection</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    1 of 3
                </div>
            </ion-col>
            <ion-col>
                <ion-button routerLink="/new-form" block>
                    Start a new form
                </ion-button>
            </ion-col>
            <ion-col>
                <div>
                    3 of 3
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
