<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main-menu"></ion-back-button>
        </ion-buttons>
        <ion-title>MISS Data Collection</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="slides-main">
    <h1 class="center">Data Collection form</h1>
    <ion-slides pager>
        <ion-slide>
            <form [formGroup]="customerForm" novalidate class="collection-form">
                <h2 color="primary">1. Customer details</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Title</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-select formControlName="title" [interfaceOptions]="titleSheetOptions" interface="action-sheet" placeholder="-- Select --">
                                    <ion-select-option *ngFor="let title of titles" [value]="title">
                                        {{ title }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.title" >
                                    <div class="error-message" *ngIf="customerForm.get('title').hasError(validation.type) && customerForm.get('title').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* First name</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="firstName"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.firstName" >
                                    <div class="error-message" *ngIf="customerForm.get('firstName').hasError(validation.type) && customerForm.get('firstName').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Last name</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="lastName"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.lastName" >
                                    <div class="error-message" *ngIf="customerForm.get('lastName').hasError(validation.type) && customerForm.get('lastName').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Address line 1</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="addressLine1"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.addressLine1" >
                                    <div class="error-message" *ngIf="customerForm.get('addressLine1').hasError(validation.type) && customerForm.get('addressLine1').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Address line 2</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="addressLine2"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.addressLine2" >
                                    <div class="error-message" *ngIf="customerForm.get('addressLine2').hasError(validation.type) && customerForm.get('addressLine2').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">Address line 3</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="addressLine3"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Postocode</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="postcode"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.postcode" >
                                    <div class="error-message" *ngIf="customerForm.get('postcode').hasError(validation.type) && customerForm.get('postcode').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Email</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="email"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.email" >
                                    <div class="error-message" *ngIf="customerForm.get('email').hasError(validation.type) && customerForm.get('email').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* City</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="city"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.city" >
                                    <div class="error-message" *ngIf="customerForm.get('city').hasError(validation.type) && customerForm.get('city').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="bottom">
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Phone number</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="phoneNumber"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.phoneNumber" >
                                    <div class="error-message" *ngIf="customerForm.get('phoneNumber').hasError(validation.type) && customerForm.get('phoneNumber').touched">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>    
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>

        <ion-slide>
            <form [formGroup]="customerForm" class="collection-form">
                <h2 color="primary">2. Further details</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Gender</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-select formControlName="gender" [interfaceOptions]="genderSheetOptions" interface="action-sheet" placeholder="-- Select --">
                                    <ion-select-option *ngFor="let gender of genders" [value]="gender">
                                        {{ gender }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ng-container *ngFor="let validation of validation_messages.gender" >
                                <div class="error-message" *ngIf="customerForm.get('gender').hasError(validation.type) && customerForm.get('gender').touched">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">Date of birth</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-datetime formControlName="dateOfBirthComponent" display-format="MM/DD/YYYY" >
                                </ion-datetime>
                            </ion-item>
                            <!-- <ng-container *ngFor="let validation of validation_messages.dateOfBirthComponent" >
                                <div class="error-message" *ngIf="customerForm.get('dateOfBirthComponent').hasError(validation.type) && customerForm.get('dateOfBirthComponent').touched">
                                    {{ validation.message }}
                                </div>
                            </ng-container> -->
                        </ion-col>
                    </ion-row>    
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Ethnic group</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item detail-none>
                                <ion-select formControlName="ethnicGroup" [interfaceOptions]="ethnicGroupsSheetOptions" interface="action-sheet" placeholder="-- Select --">
                                    <ion-select-option detail-none *ngFor="let ethnicGroup of ethnicGroups" [value]="ethnicGroup">
                                        {{ ethnicGroup }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ng-container *ngFor="let validation of validation_messages.ethnicGroup" >
                                <div class="error-message" *ngIf="customerForm.get('ethnicGroup').hasError(validation.type) && customerForm.get('ethnicGroup').touched">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                    <ion-row class="bottom">
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Customer type</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-select multiple formControlName="customerType" [interfaceOptions]="customerTypesSheetOptions" interface="action-sheet" placeholder="-- Select --">
                                    <ion-select-option *ngFor="let customerType of customerTypes" [value]="customerType">
                                        {{ customerType }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ng-container *ngFor="let validation of validation_messages.customerType" >
                                <div class="error-message" *ngIf="customerForm.get('customerType').hasError(validation.type) && customerForm.get('customerType').touched">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>

        <ion-slide>
            <form [formGroup]="customerForm" class="collection-form">
                <h2 color="primary">3. Staff details</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary">* Staff member name</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-input type="text" formControlName="staffMemberName"></ion-input>
                            </ion-item>
                            <ng-container *ngFor="let validation of validation_messages.staffMemberName" >
                                <div class="error-message" *ngIf="customerForm.get('staffMemberName').hasError(validation.type) && customerForm.get('staffMemberName').touched">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                    <ion-row class="bottom">
                        <ion-col size="4">
                            <ion-item>
                                <ion-label color="primary" position="">* Bus name</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item>
                                <ion-select formControlName="busName" [interfaceOptions]="busSheetOptions" interface="action-sheet" placeholder="-- Select --">
                                    <ion-select-option *ngFor="let bus of buses" [value]="bus">
                                        {{ bus }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ng-container *ngFor="let validation of validation_messages.busName" >
                                <div class="error-message" *ngIf="customerForm.get('busName').hasError(validation.type) && customerForm.get('busName').touched">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>

    </ion-slides>
    <ion-button size="large" (click)="submit(customerForm.value)" class="submit-btn mac top" expand="block" type="submit" [disabled]="!customerForm.valid">Create</ion-button>
</ion-content>
