<ion-header>
  <ion-toolbar color="primary">
      <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
    <ion-title>MISS Data Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Main Menu</h2>
  <div>
    <ion-button item-width="100%" routerLink="/new-form" color="" style="font-family: Helvetica-Black, Arial, 'Helvetica Neue', Helvetica, sans-serif; 
    border-radius: 8px;color: #fff;">
    Start a new form
   </ion-button>  
  </div>
  <div>
    <ion-button routerLink="/submitted-forms" color="" style="width: 100%; border: 1px solid red;">
    Submitted forms
   </ion-button>    
  </div>
</ion-content>
