<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>MISS Data Collection</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h2 style="margin-bottom: 100px; font-size: 70px;">Main Menu</h2>
    <ion-button size="large" class="submit-btn macmillan" expand="block" routerLink="/new-form">
        Start a new form
    </ion-button>
    <ion-button size="large" class="submit-btn macmillan" expand="block" routerLink="/submitted-forms">
        Submitted forms
    </ion-button>
</ion-content>