<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-img src="../assets/images/Miss_logo.png"></ion-img>

<ion-content padding style="background-color: #D4ECB4">
  <!-- The world is your oyster.
  <p>If you get lost, the
    <a target="_blank" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
 -->

 
 <h1>Macmillan Mobile Information</h1>
 <h1>and Support Service</h1>

 <p>Data collection App</p>
 <ion-button end routerLink="/main-menu">
  Start
 </ion-button>
 <!-- <ion-button end routerLink="/main-menu" color="" style="font-family: Helvetica-Black, Arial, 'Helvetica Neue', Helvetica, sans-serif; 
 border-radius: 8px;color: #fff;">
 Start
</ion-button> -->
</ion-content>

